.App {
  width: 720px;
  margin: auto;
}

.cursor-pointer {
  cursor: pointer;
}

.cursor-pointer > input[type='checkbox'] {
  cursor: pointer;
}

/* strikes though completed todos */
input[type='checkbox']:checked + .todo-title {
  text-decoration: line-through;
}

@media (max-width: 720px) {
  .App {
    width: 100%;
    margin: 0;
  }
}
