.App {
  width: 720px;
  margin: auto;
}

.cursor-pointer {
  cursor: pointer;
}

.cursor-pointer > input[type='checkbox'] {
  cursor: pointer;
}

/* strikes though completed todos */
input[type='checkbox']:checked + .todo-title {
  text-decoration: line-through;
}

#formTitle::placeholder {
  opacity: 60%;
}

.list-group-item > .opacity-on-hover {
  opacity: 0%;
}

.list-group-item:hover > .opacity-on-hover {
  opacity: 100%;
}

@media (max-width: 720px) {
  .App {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}
