.App {
  width: 720px;
  margin: auto;
}

.cursor-pointer {
  cursor: pointer;
}

.cursor-pointer > input[type='checkbox'] {
  cursor: pointer;
}

@media (max-width: 720px) {
  .App {
    width: 100%;
    margin: 0;
  }
}
